spring:
#  sql:
#    init:
#      mode: always
#      platform: postgres
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

telegram:
  token: ${BOT_TOKEN}
  name: ${BOT_USERNAME}

logging:
  level:
    org.springframework.cache: TRACE