name: CI/CD - Spring Boot Docker Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04

    steps:
      # 1. Клонируем код
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Строим Docker-образ
      - name: Build Docker image
        run: docker build -t ghcr.io/${{ github.repository_owner }}/salauat_bot_app:${{ github.sha }} .

      # 3. Входим в GHCR
      - name: Log in to GitHub Container Registry
        run: echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin

      # 4. Пушим образ
      - name: Push Docker image to GHCR
        run: docker push ghcr.io/${{ github.repository_owner }}/salauat_bot_app:${{ github.sha }}

      # 5. Деплой на сервер через docker-compose
      - name: Deploy on server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/salauat_bot

            # 1. Логинимся в GHCR на сервере
            echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin

            # 2. Останавливаем старые контейнеры
            docker compose down || true

#            # 3. Изменяем docker-compose.yml, чтобы использовать образ вместо сборки
#            sed -i 's|build: .|image: ghcr.io/${{ github.repository_owner }}/salauat_bot_app:1.0.0|' docker-compose.yml

            # 4. Подтягиваем свежий образ и запускаем контейнеры
            export APP_IMAGE=ghcr.io/${{ github.repository_owner }}/salauat_bot_app:${{ github.sha }}
            docker compose pull
            docker compose up -d

            echo "✅ Деплой завершён!"
