name: CI/CD - Spring Boot Docker Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04

    steps:
      # 1. Клонируем код
      - name: Checkout
        uses: actions/checkout@v4


      # 5. Деплой на сервер через docker-compose
      - name: Deploy on server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/salauat-tracker-bot
            
            git pull origin main

            # 2. Останавливаем старые контейнеры
            docker compose down || true

            docker compose up --build -d

            echo "✅ Деплой завершён!"
